.shopping-form {
    margin-bottom: 2rem;
}

.shopping-form-wrapper {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1.5rem;
}

.shopping-form__items {
    flex: 1;
    max-width: 16rem;
}

.shopping-form__label {
    display: block;
    margin-bottom: 0.25rem;
}

.shopping-item__input,
.shopping-quantity__input {
    width: 100%;
    height: 2rem;
    padding: 0 0.75rem;
    border: 1px solid var(--gray-300);
    border-radius: 0.25rem;
    background: var(--white);
}

.shopping-form__quantity {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
}

.shopping-quantity__input {
    max-width: 4rem;
    text-align: center;
    margin: 0 0.25rem;
}

.shopping-quantity__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border: 0;
    border-radius: 0.25rem;
    background: var(--gray-100);
    transition: background 0.2s linear;
}

.shopping-quantity__button:hover {
    background: var(--purple-500);
}

.shopping-quantity__button:active {
    background: var(--purple-300);
}

.shopping-quantity__button::before,
.shopping-quantity__button--increment::after {
    content: "";
    position: absolute;
    width: 1rem;
    height: 0.25rem;
    border-radius: 0.25rem;
    background: var(--white);
}

.shopping-quantity__button--increment::after {
    transform: rotate(90deg);
}

.shopping-submit-button {
    width: 100%;
    max-width: 8rem;
    height: 2rem;
    border: 0;
    border-radius: 0.25rem;
    color: var(--white);
    font-weight: 700;
    background: var(--purple-500);
    transition: background 0.2s linear;
}

.shopping-submit-button:hover {
    background: var(--purple-300);
}

.shopping-form__submit:active {
    background: var(--purple-500);
}
