.shopping-list {
    max-width: 26rem;
}

.shopping-list_head,
.shopping-item {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 0.5rem 1rem;
}

.shopping-list_head {
    background: var(--gray-100);
}

.shopping-item:nth-child(even){
    background: var(--gray-100);
}