@import 'reset.css';
@import 'variables.css';
@import 'form.css';
@import 'items.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.shopping {
    max-width: 67.5rem;
    margin: 0 auto;
    padding: 0 0.75rem;
}

.shopping__title {
    margin: 2rem 0;
    font-size: 2rem;
}