* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body,
input,
button {
	font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--gray-500);
}

button {
    cursor: pointer;
}
